	<style>

	body{
		
		font-family:'Montserrat', sans-serif;
		font-size:13px;
		margin-bottom:0px;
		
	}
	
	.bold{
		
		font-weight:strong;
		font-family:'Montserrat', sans-serif;
		
	}
	
	#jumbotron_1{
		
		background-image:url("../images/HomePage/G63.jpg");
		background-size:cover;
		height:800px;
		margin-bottom:0px;
		text-align:center;
		border-radius:0px;	
		
	}
	
	#formLogo{
		
		height:500px;
		float:left;
		margin-left:-200px;
		margin-top:-50px;
		
	}
	
	#formLogoText{
		
		float:left;
		margin-left:-630px;
		margin-top:225px;
	
	}

	#formContainer{
		
		background-color:lightgrey;
		height:auto px;
		width:500px;
		border-radius:10px;
		margin-top:50px;
		margin-right:40px;
		padding:15px;
		opacity:0.9;
		float:right;
		
	}
	
	label{
		
		color:black;
		font-family:'Montserrat', sans-serif;
		font-size:15px;
		float:left;
		margin-top:20px;
		
	}
	
	.input{
	
		height:40px;
		padding:20px 10px;
		border-radius:10px;
		border-color:black;
		background-color:white;
		
	}
	
	.button{
		
		width-min:100px;
		width:auto;
		border:2px outset black;
		border-radius:17px;
		padding:10px 7px ;
		background-color:transparent;
		transition:0.4s;

	}
	
	.button:hover{
		
		border-color:lightgrey;
		transition:0.7s;
		font-size:17px;		
		box-shadow:2px 5px 10px black;
		background-image:linear-gradient(to bottom right, grey, silver);
	
	}
	
	.button:active{
		
		box-shadow:0 2px 5px grey;
		transform: translateY(4px);
		transition:0.2s;
		
	}
	
	#verMsg{
		
		color:black;
		margin-top:20px;
	
	}
	
	.separatingBorder{
		
		margin-top:30px;
		border-bottom:1px solid black;
		width:400px;
		margin-left:35px;
		
	}
	
	#modalGetLink{
		
		position:absolute;
		left:520px;
		text-align:center;
		padding:0px;
		top:130px;	
	
	}
	
	#popModalCntr{
		
		background-image:linear-gradient(to bottom right, grey, lightgrey, silver);
		
	}
	
	.modal{
		
		background-image:linear-gradient(to bottom right, grey, lightgrey, silver);
		height:400px;
		width:500px;
		padding:20px;
		border-radius:10px;
		
	}
	
	#modalHeader{
		
		margin-top:30px;
		background-color:transparent;
		border:none;
		font-size:30px;
		padding-bottom:15px;
	
		
	}
	
	.modalContent{
		
		color:black;
		background-image:linear-gradient(to bottom right, grey);
	
	}
	
	.modalColor{
		
		background-image:linear-gradient(to bottom right,  lightgrey);
		
	}
	
	#getLinkBtn{
		
		margin-top:20px;
		padding:10px 15px;
		border-color:black;
		width:200px;
		
	}
	
	#getLinkBtn:hover{
		
		border-color:lightgrey;
		
	}
	
	#cntToLgn{
		
		margin-top:30px;
		background-color:;
		width:400px;
		
	}
	
	#cntToSite{
	
		margin-top:40px;
		margin-bottom:30px;
		border-color:black;
		
	}
	
	#resendLink{
		
		color:black;
		
	}
	
	#resendLink:hover{
		
		color:black;
		text-decoration:;
		
	}

	.arrowMark{
	
		margin-left:5px; 
		width:19px; 
		height:15px;
		
	}
	
	#arrowMarkImg{
	
		padding-bottom:2px;
		
	}
	
	.arrowMarkImg{
		
		margin-left:5px;
		height:20px;
		width:20px;
		
	}
	
	.arrowMarkImgRotate{
	
		transform: rotate(90deg);
		
	}
	
	
	

</style>
