		<style>	
			
			body{

				font-size:13px !important;
				background-color:#F7F7F7;
			
			}
			
			.bold{
				
				font-weight:bold;
				
			}
			.jumbotron{
				background-image:url("../images/HomePage/gtrcar.jpg");
			}
			
			#logoLink{
				
				margin-left:-12px;
				margin-right:12px;
				margin-top:1px;
				
			}
			
			.navbar{
				
				margin-top:-20px;
				background-color:transparent;
				position:absolute;
				
			}
			
			#navbarSupportedContent{
				
				position:relative;
				padding-left:250px;
				text-align:center;
				
			}
			
			.nav-link{
				
				color:black;
				font-family:'Montserrat', sans-serif;
				font-size:18px;
				
			}
			
			.nav-link:hover{
				
				color:black;
				
			}
			
			.nav-item{
				
				margin-bottom:5px;
				padding-right:50px;
				
			}
			
			.borderHover:hover{
				
				border-bottom:3px solid black;
				transition:0.5s;
				
			}
			
			.container{
				
				text-align:center;
				width:600px;
				padding:10px 5px;
				margin-left:140px;
				
			}
			
			.dropdown-menu{
			
				background-color:#F7F7F7;
				border:1px solid #d3d3d3;
				display:none;
				
			}
			
			.dropdown-item:hover{
				
				background-color:#d3d3d3;
				
			}
			
			.dropdown-divider{
				
				border-bottom:1px solid lightgrey;
				
			}
			
			#rentalDropdownMenu{
				
				display:none;
				
			}
			
			#logoImg{
				
				margin-left:-10px;
				width: 150px;
				height: 100px;
				padding-bottom:4px;

			}
			
			.button{
				
				width:100px;
				border:2px outset black;
				border-radius:30px;
				padding:10px 7px;
				background-color:transparent !important;
				transition:0.4s;
				
			}
			
			.button:hover{
				
				background-color:white;
				border-color:lightgrey;
				transition:0.4s;
				color:white;
				font-size:14px;
				box-shadow:2px 5px 5px grey;
				background-image:linear-gradient(to bottom right, dodgerblue, dodgerblue) ;
				
			}
			
			.button:active{
				
				box-shadow:0 2px 5px grey;
				transform: translateY(4px);
				transition:0.2s;
				
			}
			
			.button:focus{
				
				outline:none;
				
			}
			
			.separatingBorder{
		
				margin-top:30px;
				border-bottom:1px solid black;
		
			}
			
	.panel-footer {

		padding-top: ;
		padding-bottom:15px;
		background-color:#343A40;
		border-top:0;
		color:#DEFFFF;

	}

	#hours, #address {
		
		padding-left: 30px;
		padding-right: 30px;

	}

	#address p {
	
		color: lightgrey;	
		font-size: 13px;
		
	}

	#testimonials {

		font-style: italic;	
		padding-left: 30px;
		padding-right: 30px;
	
	}
	
	.sclMedia a{
	
		color:#DEFFFF;
		
	}
	
	.sclMedia a:hover{
		
		text-decoration:none;
		
	}
	
	#instaIcon{
		
		width:30px;
		height:30px;
		position:relative;
		top:-2px;
		
	}

	#twitterIcon{
		
		width:30px;
		height:30px;
		position:relative;
		top:-2px;
		
	}
		
	#facebookIcon{
		
		width:20px;
		height:20px;
		position:relative;
		top:-2px;
		
	}
	
	#goTopBtn{
		
		position:fixed;
		bottom:15px;
		background-color:white;
		width:125px !important;
		margin-left:25px;
		
	}
	
	#goTopBtn:hover{
		
		background-image:linear-gradient(to bottom right, grey, lightgrey);
		
	}
	
	.arrowMarkImg{
		
		margin-left:5px;
		height:20px;
		width:20px;
		
	}
	
	button:focus{
		
		outline:none;
		
	}
	
	
	/********** MODAL ***************/
.modal-content {
  width: 400px;
  height: 510px;
  background: url(../images/Limo/modal.jpg) no-repeat;
  opacity: .9.5;
  color:white !important;
}

.modal-header {
  border: 0;
  padding: 8px 12px 0 12px;
}

h3.modal-title {
  margin-left: 120px;
  font-family: 'webfontregular';
  font-size: 62px;
  text-shadow: 3px 3px 2px black;
}

.modal-body {
  font-size: 1.2em;
  padding-top: 0;
  text-shadow: 2px 2px 4px black;
}

.modal-body a.btn{
  margin-top: 12px;
  margin-bottom: 200px;
  padding-left: 0;
  padding-right: 0;
  color:white;
  border: 2px solid white;
  border-radius: 16px;
  width: 50%;
  transition: .4s;
  text-shadow: none;
  box-shadow: 2px 2px 4px black;
}
.modal-body a.btn:hover, .modal-body a.btn:active,.modal-body a.btn:focus {
  background-color: white;
  color: black;

}

.modal-body div#login a{
  
  color:  white;
  font-size: .9em;
}
.modal-body div#login a:hover{
  text-decoration: ;
}

#modalCloseBtn {
  color: white;
}



	
<style>